#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
# Install Homebrew
if ! command -v brew &> /dev/null; then
    echo "Homebrew がインストールされていません。インストールを開始します..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo "Homebrew がインストールされました。"
else
    echo "Homebrew はすでにインストールされています。"
fi
{{- end -}}
