{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -euo pipefail

# config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
echo "mise で管理されたアプリケーションをインストールします..."
mise install
echo "mise で管理されたアプリケーションのインストールが完了しました。"
{{- end -}}
