{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

set -euo pipefail

# dot_Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
brewfile="$HOME/.Brewfile"

{{ if and (eq .chezmoi.os "darwin") (eq (env "CI") "true") -}}
MAS_APP_NAMES="$(cat $brewfile | grep -v brew | grep mas | sed 's/^.*"\(.*\)".*$/\1/' | tr '\n' ',')"
MAS_APP_IDS="$(cat $brewfile | grep -v brew | grep mas | sed 's/^.*id: \([0-9]*\).*/\1/' | tr '\n' ' ')"
export HOMEBREW_BUNDLE_MAS_SKIP="$MAS_APP_IDS"
export HOMEBREW_BUNDLE_CASK_SKIP="microsoft-office microsoft-teams"
echo "CI 環境では MAS と問題のあるCaskを除外して \`brew bundle\` を実行します。"
echo "スキップ対象のMASアプリ: $MAS_APP_NAMES"
echo "スキップ対象のCask: microsoft-office, microsoft-teams"
{{ end -}}

# Install Homebrew Bundle
echo "Homebrew パッケージのインストール・更新を実行します..."
brew bundle --file="$brewfile" --force
echo "Homebrew パッケージのインストール・更新が完了しました。"
echo "Homebrew パッケージのクリーンアップを実行します..."
brew bundle cleanup --file="$brewfile" --force
echo "Homebrew パッケージのクリーンアップが完了しました。"
{{ end -}}
