#!/bin/zsh

# 重複排除
typeset -Ug path PATH fpath FPATH

{{ if eq .chezmoi.os "darwin" -}}
# homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end -}}

# path
path=(
  $HOME/.local/bin(N-/)
  /usr/local/sbin(N-/)
  /usr/local/bin(N-/)
  $path
)

# XDG
export XDG_CONFIG_HOME=${HOME}/.config
export XDG_CACHE_HOME=${HOME}/.cache
export XDG_DATA_HOME=${HOME}/.local/share
export XDG_STATE_HOME=${HOME}/.local/state

# lang
export LANGUAGE="ja_JP.UTF-8"
export LANG="${LANGUAGE}"
export LC_CTYPE="${LANGUAGE}"

# editor
export EDITOR=vim
export CVSEDITOR="${EDITOR}"
export SVN_EDITOR="${EDITOR}"
export GIT_EDITOR="${EDITOR}"

# mise - use shims for non-interactive shells, activate for interactive shells
if command -v zsh &> /dev/null; then
  eval "$(mise activate zsh)"
  path=(
    $HOME/.local/share/mise/shims(N-/)
    $path
  )
fi


{{ if eq .chezmoi.os "darwin" -}}
# SSH Agent
export SSH_AUTH_SOCK="${HOME}/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock"
{{ end -}}
